.browser{
	overflow-y: hidden;
	overflow-x: hidden;
}

.urlbox{
	width: 300px;
}

.urlsearch{
	border-radius: 40%;
	background-color: white;
}

.urlsearchs{
	border-radius: 40%;
	background-color: white;
}